= form_for [current_user,@listing] do |f|
  - if @listing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@listing.errors.count, "error")} prohibited this listing from being saved:"
      %ul
        - @listing.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :address
    = f.text_field :address,maxlength: 255
  .field
    = f.label :client_id
    = f.text_field :client_id,maxlength: 255
  .field
    = f.label :client_secret
    = f.text_field :client_secret,maxlength: 255
  .field
    = f.label :automation_service
    = f.check_box :automation_service
  .field
    = f.label :devices
    -if @listing.id == nil
      = f.collection_check_boxes(:device_ids, Device.valid_devices, :id, :name)
    - else 
      = f.collection_check_boxes(:device_ids, Device.where('listing_id is NULL OR listing_id = ?',@listing.id), :id, :name, {:selected => @listing.devices.map(&:id)})
  .actions
    = f.submit 'Save'
