Listing listings
%table{margin: 5}
  %thead
    %tr
      %th Address
      %th Automation service
      %th Devices
      %th  
      %th
      %th
      %th

  %tbody
    - @listings.each do |listing|
      %tr
        %td= listing.address
        %td= listing.automation_service
        -listing.devices.collect{|d| d.name}
        %td= listing.devices.join(',')
        %td= link_to 'Show', [current_user,listing]
        %td= link_to 'Edit', edit_user_listing_path(current_user,listing)
        %td= link_to 'Destroy', [current_user,listing], method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'Authorize SmartThings', authorize_path(listing_id: listing.id)
%br

= link_to 'New Listing', new_user_listing_path
