%p#notice= notice

%p
  %b Address:
  = @listing.address
%p
  %b Automation service:
  = @listing.automation_service

= link_to 'Edit', edit_user_listing_path(@listing)
\|
= link_to 'Back', user_listings_path
