%p#notice= notice

%p
  %b Starttime:
  = @reservation.starttime
%p
  %b Endtime:
  = @reservation.endtime

= link_to 'Edit', edit_reservation_path(@reservation)
\|
= link_to 'Back', reservations_path
