%p#notice= notice

%p
  %b Starttime:
  = @reservation.starttime
%p
  %b Endtime:
  = @reservation.endtime

= link_to 'Edit', edit_user_listing_reservation_path(@reservation)
\|
= link_to 'Back', user_listing_reservations_path
